In [15]:
from time import gmtime, strftime
import numpy as np
import pandas as pd
import os
import dicom
from report_parser import parse_report
import pickle 
import tqdm

In [16]:
# Get train and test data
data_dir = '/scratch/wboag/2019/cxr/cxr-baselines/camera_ready/data'
test_df  = pd.read_csv(os.path.join(data_dir, 'test.tsv'), sep='\t')

print(test_df.shape)
display(test_df.head())

(99145, 7)

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,subject_id,rad_id,dicom_id,dicom_is_available
0,0,0,27,73451872,55507110,f1a7e903-618a45fe-84eb71e2-73901894-a689d584,True
1,1,1,28,73451872,55507110,523dbd29-f0c5d7eb-09635cf1-1a7de126-44622b1c,True
2,2,2,37,68870,51526655,78ecaf71-9fdb0b43-b0134402-8c5e739f-2c6c0ea2,True
3,3,3,38,68870,51526655,14089000-1023e4ed-157da1b0-f14f1dcd-7eaf3cb2,True
4,4,4,39,68870,57395479,ceb36d05-686e9404-43dfdc4f-e050bf09-89b8d71d,True

In [17]:
# Where reports are stored
reports_path = '/crimea/mimic-cxr/reports'

In [18]:
ref_reports = {}
for pred_dicom,ref_rad in tqdm.tqdm(zip(test_df.dicom_id,test_df.rad_id)):
        
    # Get text of report
    ref_report_file = os.path.join(reports_path, '%s.txt' % ref_rad)
    report = parse_report(ref_report_file)
        
    #break
    ref_reports[pred_dicom] = report['findings']

99145it [00:19, 5145.02it/s]

In [19]:
print(strftime("%Y-%m-%d %H:%M:%S", gmtime()))

pred_dir = 'output'
pred_file = os.path.join(pred_dir, 'reference.tsv')
print(pred_file)
with open(pred_file, 'w') as f:
    print('dicom_id\ttext', file=f)
    for dicom_id,generated in sorted(ref_reports.items()):
        print('%s\t%s' % (dicom_id,generated), file=f)
        
print(strftime("%Y-%m-%d %H:%M:%S", gmtime()))

2019-11-13 02:30:16
output/reference.tsv
2019-11-13 02:30:17